:root {
    --light-color: #F0F0F4;
    --dark-color: #222A68;
}

/*  built-in HTML: Structure */

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:hidden;
    position:fixed;
    caret-color: var(--light-color);
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: color 0.3s ease, background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

header, main {
    display: flex;
}

header {
    flex-direction: row;
    padding-bottom: 20px;
    background-color: var(--dark-color);
    height: calc(15vh);
}

header .box {
    margin: 10px;
}

main {
    height: calc(80vh);
}

footer {
    background-color: var(--dark-color);
    width: 100vw;
    height: calc(5vh);
    position: fixed;
    z-index: 10;
    bottom: 0;
}

nav {
    z-index: 10;
}

nav .nav-link {
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link.active {
    background-color: var(--dark-color);
    color: var(--light-color);
}

#menu {
    margin-top: 0;
    margin-left: 10px;
}

/* Built-in HTML: text elements */

a {
    text-decoration: none;
    color: var(--dark-color);
}

a:hover, nav li:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

button {
    border: 0px;
}

button:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

ul, li {
    list-style: none;
    padding-left: 0px;
}

mark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 5px;
}

h1, h2, h3 {
    margin: 8px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 30px;
}


details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

details summary h4 {
    user-select: none;
}

details p {
    box-sizing: border-box;
    border-left: 2px solid var(--dark-color)
}

/* Classes and IDs */
#container {
    display: flex;
    flex-direction: column;
}

#footer-wrapper {
    width: fit-content;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: 5px;
    height: 20px;
    position: relative;
    left: .5em;
    bottom: -.5em;
}


main button {
    color: var(--light-color);
    background-color: var(--dark-color);
}

main button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.box {
    margin: 1em;
    padding: 1em;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: fit-content;
    max-width: 400px;
    height:fit-content;
    max-height: 100%;
}


#column {
    flex-direction: row;
}

#menu ul {
    margin: 0px;
}

#menu li:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

#profile {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#middle-left, #middle-right {
    height: calc(80vh);
}

#middle-left {
    position: sticky;
    width: 6em;
    top: 0;
    display: flex;
    flex-direction: column;
}

#middle-right {
    position: relative;
    width: calc(90vw);
    top: 0;
    overflow-y:auto;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#middle-right::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

#middle-right .section .box {
    margin-top: 0px;
}

#projects-wrapper {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#projects-wrapper::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }


#project-list p {
    padding-left: 35px;
    margin-top: 5px;
}
#project-list h4 {
    margin-bottom: 5px;
}
#project-list ul {
    width: fit-content;
    display: flex;
    gap: 1em;
}


#skills-left li:hover, #skills-right li:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor:pointer;
}

#color {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: 500;
    font-size:medium;
}

#contact img {
    width:30px;
    fill: var(--dark-color);
}

svg {
    color: var(--dark-color);
}

#tagline-wrapper {
    display:none;
}

#project-list li mark {
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

/* media queries */

@media only screen and (max-width: 600px) {
    
    header, main {
        flex-direction: column;
    }

    header {
        height: min-content;
        padding-bottom: 0;
    }

    header h1 {
        font-size: 30px;
    }

    header h2 {
        display:none;
    }

    footer {
        position: fixed;
    }

    main {
        height:max-content;
    }


    .box {
        min-width: fit-content;
    }

    #project-list p {
        padding-left: 10px;
        max-width: 250px;
    }

    iframe {
        max-width: 250px;
    }

   
    #container {
        height: calc(100vh);
    }

    #middle-left {
        flex-direction: row;
        height: min-content;
    }

    #right h2 {
        display:none;
    }

    #tagline-wrapper {
        display:block;
    }

    h2 {
        line-height: 2;
        margin: 0;
    }

    mark {
        line-height: 1.8;
    }

    #profile {
        flex-direction: column;
        height:fit-content;
        padding: 0;
    }

    #profile.box {
        min-width: fit-content;
        width: 200px;
    }

    #buttons {
        width: fit-content;
    }

    #top {
        flex-direction: column;
        font-size: smaller;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }

    #menu.box {
        min-width: fit-content;
    }

    nav ul {
        display: flex;
        gap: 1em;
        width: 100%;
        flex-direction: row;
    }

    #skills {
        gap: .5em;
    }

    #blank {
        height: 5vh;
    }

}
