:root {
    --light-color: #F0F0F4;
    --dark-color: #222A68;
}

/* Elements built into HTML */
body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

a:hover, nav li:hover {
    text-decoration: underline;
    background-color: var(--dark-color);
    color: var(--light-color);
}

button {
    height: fit-content;
    font-weight: bold;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .8;
    transition: .5s;
}

button:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
    opacity: 1;
}

ul, li {
    list-style: none;
    padding-left: 0px;
}

mark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 5px;
}

h1, h2, h3 {
    margin: 8px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 30px;
}

footer {
    width: fit-content;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: 5px;
}

form {
    margin: 10px;
}
nav {
    z-index: 10;
}

details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Classes and IDs */
#container {
    display: flex;
    flex-direction: column;
}

#top, #middle {
    display: flex;
    gap: 0em;
}

#top {
    flex-direction: row;
}

#top .box {
    margin: 10px;
}

main button {
    color: var(--light-color);
    background-color: var(--dark-color);
}

main button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.box {
    margin: 2em;
    padding: 1em;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: fit-content;
    position: relative;
    max-width: 400px;
    height:fit-content;
}


#column {
    flex-direction: row;
}

#menu ul {
    margin: 0px;
}

#menu li:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

#profile {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
}
#left {
    position: sticky;
    top: 0;
}

#project-list p {
    padding-left: 35px;
    margin-top: 5px;
}
#project-list h4 {
    margin-bottom: 5px;
}
#project-list ul {
    width: fit-content;
    display: flex;
    gap: 1em;
}

#slideshow {
    width:100%;
    overflow:hidden;
    position:relative;
}

#slide-track {
    display:flex;
    width: calc(100% * 7);
}

#slide-track img {
    height: 100%;
    display: flex;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#slideshow:hover .slide-track {
    animation-play-state: paused;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    header, main {
        flex-direction: column;
    }

    #profile {
        flex-shrink: 0;
        flex-direction: column;
    }

    #profile img {
        display: none;
    }

    #top {
        flex-direction: column;
        font-size: smaller;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        gap: 1em;
        width: 100%;
        flex-direction: row;
    }

    #skills {
        gap: .5em;
    }

}
