:root {
    --light-color: #F0F0F4;
    --dark-color: #222A68;
}

/* Elements built into HTML */
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position:fixed;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    height: calc(100vh)
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

a:hover, nav li:hover {
    text-decoration: underline;
    background-color: var(--dark-color);
    color: var(--light-color);
}

button {
    height: fit-content;
    font-weight: bold;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    Xopacity: .8;
    transition: .5s;
}

button:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
    opacity: 1;
}

ul, li {
    list-style: none;
    padding-left: 0px;
}

mark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 5px;
}

h1, h2, h3 {
    margin: 8px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 30px;
}

footer {
    background-color: var(--dark-color);
    width: 100vw;
    height: fit-content;
}

form {
    margin: 10px;
}
nav {
    z-index: 10;
}

nav a.active {
    background-color: var(--light-color); /* Adjust as needed */
    color: var(--dark-color); /* Adjust as needed */
    font-weight: bold;
}

details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

details summary h4 {
    user-select: none;
}

details p {
    box-sizing: border-box;
    border-left: 2px solid var(--dark-color)
}

/* Classes and IDs */
#container {
    display: flex;
    flex-direction: column;
}
#footer-wrapper {
    width: fit-content;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: 5px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#top, #middle {
    display: flex;
    gap: 0em;
}

#top {
    flex-direction: row;
}

#top .box {
    margin: 10px;
}

main button {
    color: var(--light-color);
    background-color: var(--dark-color);
}

main button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.box {
    margin: 2em;
    padding: 1em;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: fit-content;
    position: relative;
    max-width: 400px;
    height:fit-content;
}


#column {
    flex-direction: row;
}

#menu ul {
    margin: 0px;
}

#menu li:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

#profile {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
}
#middle-left {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}
#middle-left > .box {
    margin: 1em;
    flex-shrink: 0;
}
#middle-right {
    height: 100vh;
    overflow-y:auto;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#middle-right::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

#middle-right > div {
    height:100vh;
    display:flex;
    scroll-snap-align: start;
}

#projects-wrapper {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#projects-wrapper::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }


#project-list p {
    padding-left: 35px;
    margin-top: 5px;
}
#project-list h4 {
    margin-bottom: 5px;
}
#project-list ul {
    width: fit-content;
    display: flex;
    gap: 1em;
}


#skills-left li:hover, #skills-right li:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor:pointer;
}

#color {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: 500;
    font-size:medium;
}

#contact img {
    width:30px;
    fill: var(--dark-color);
}

svg {
    color: var(--dark-color);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    header, main {
        flex-direction: column;
    }


    #middle-left {
        flex-direction: row;
    }

    #profile {
        flex-shrink: 0;
        flex-direction: column;
        width: 88vw;
    }



    #buttons {
        width: fit-content;
    }

    #top {
        flex-direction: column;
        font-size: smaller;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        gap: 1em;
        width: 100%;
        flex-direction: row;
    }

    #skills {
        gap: .5em;
    }

}
